<!-- ========================================
     TAB-BAR COMPONENT
     ======================================== -->

<div class="tab-bar" id="tab-bar">
    <div class="tab-bar-content">
        <div class="tab-bar-item" data-tab="modulos" onclick="navigateToTab('modulos')">
            <i class="far fa-th-large tab-bar-icon"></i>
            <span class="tab-bar-text ubits-body-xs-regular">Módulos</span>
        </div>
        <div class="tab-bar-item" data-tab="perfil" onclick="navigateToTab('perfil')">
            <img src="images/Profile-image.jpg" alt="Mi perfil" class="tab-bar-avatar">
            <span class="tab-bar-text ubits-body-xs-regular">Mi perfil</span>
        </div>
        <div class="tab-bar-item" data-tab="modo-oscuro" onclick="navigateToTab('modo-oscuro')">
            <i class="far fa-moon tab-bar-icon"></i>
            <span class="tab-bar-text ubits-body-xs-regular">Modo oscuro</span>
        </div>
    </div>
</div>
